
/*******************
 The CSS is being created "mock-up" style. Meaning attention is primarily on the
design output and not on the code quality during this stage of development.
*********************/

body {
  font-family: 'Roboto', sans-serif;
}

.guitar {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateY(-50%) translateX(-50%);
  margin-top: -85px;
}

.signature {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateY(-50%) translateX(-50%) rotate(-43deg);
  margin-top: -85px;
  font-size: 7px;
  z-index: 99999999999;
  font-family: 'Italianno', cursive;
  color: #fff;
  margin-top: -37px;
  margin-right: -13px;
  right: 60px;
  color: #f4bb9f;
  opacity: 0.5;
}

.guitar a {
  text-decoration: none;
  color: #000;
}

.credit {
  position: absolute;
  right: 90px;
  bottom: 14px;
  font-size: 6px;
  opacity: 0.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.congrats {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  margin-top: 165px;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.about ul {
  margin: 0px;
  padding: 0px;
}

.about ul li {
  display: inline-block;
  list-style-type:none;
  margin-right: 20px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0px;
  font-size: 24px;
  margin-bottom: 10px;
  color: #0C4B33;
  margin-top: 25px;
}

p {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #859D9A;
  font-size: 14px;
  margin-bottom:15px;
  width: 350px;
  line-height: 20px;
}

.clearfix {
  clear:both;
}

.congrats a {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #0C4B33;
  text-decoration: none;
  font-size: 13px;
}

.congrats p {
  font-weight: 400;
}

.background {
  z-index: 9999999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(133,157,154, 0.040);
  width: 270px;
  height: 270px;
  border-radius: 100%;
  margin-top: -40px;
  padding: 2px;
}

.fa.fa-file-text-o,
.fa.fa-users{
  font-size: 16px !important;
}

footer p {
  font-size: 12px;
  margin-top: 4px;
}

footer {
  width: 900px;
  border-top: 2px solid #efefef;
  position: absolute;
  bottom:0px;
  left: 50%;
  transform: translateX(-50%);
}



.footer .fa {
  float: left;
  display:block;
}

header {
  width: 900px;
  margin: 0 auto;
  padding: 7px 3px 8px 3px;
  border-bottom: 2px solid #efefef;
}

.info span {
  font-weight: 600;
}

.logo {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #0C4B33;
  opacity: 0.9;
  font-size: 21px;
  display:block;
  padding-top: 13px;
}

.about,
.sub-logo {
  float:right;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #0C4B33;
  font-size: 12px;
  padding-top: 6px;
  color: #0C4B33;
  opacity: 0.9;
}

.sub-logo {
  display:block;
  float:none;
  font-size: 10px;
  opacity: 0.8;
  padding-top: 4px;
  display: none;
}

.about {
  width: auto;
  padding-top: 20px;
  font-size: 11px;
  opacity: 0.7;
  line-height: 15px;
}

.info a {
  text-decoration: none;
color: #0C4B33;

}

.debug {
  font-size: 12px;
  line-height: 17px;
  font-weight: 300 !important;
  max-width: 230px;
  margin: 0 auto;
  opacity: 0.8;
}

.debug span {
  font-weight: 600 !important;
}

.step {
  width:33%;
  height: 120px;
  border-right: 2px solid #efefef;
  float:left;
}

.three {
  border-right: 0px;
}

.wrap {
  width: 280px;
  height: 60%;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 20px;
}

.box .fa {
  background: #859D9A;
  padding: 10px;
  border-radius: 100%;
  color: #fff;
  float:left;
  font-size: 17px;
}

.text {
  float: left;
  width: 220px;
  margin-left: 12px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #0C4B33;
  margin-bottom:3px;
  margin-top: 2px;
  opacity: 0.7;

}

.sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  padding-right: 20px;
  padding-right: 20px;
  margin-top: 2px;
  color: #859D9A;
  opacity: 0.9;
}

.django {
  width: 320px;
  margin-top: -70px;
}

.wrap:hover {
  cursor: pointer;
}

.congrats .notes {
  margin-top: 8px !important;
  display: block;
  font-size: 11px;
  opacity: 0.7;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #859D9A;
  font-size: 10px;
  margin-bottom: 15px;
  width: 350px;
  line-height: 20px;
}
.debug {
  display:block;
}

.settings {
  display: none;
}

.next {
  color: #44B78B;
  font-weight: 500;
  font-size: 11px;
  text-align:center;
  margin-top: -35px;
  display:none;
  font-family: 'Roboto', sans-serif;

}

.fa.fa-exclamation {
  position: absolute;
  background: #0C4B33;
  padding: 4px 8px 3px;
  color:#fff;
  top: 34px;
  border-radius: 100%;
}

.fa.fa-exclamation-triangle {
  position: absolute;
  background: none;
  color:#0C4B33;
  top: 36px;
  font-size:15px;
  display:none;
}

.info {
  padding-left: 30px;
}
@media screen and (max-width: 767px) {
    header, footer {
      width: 100%;
    }
    .settings {
      display: block;
    }
    header {
      padding: 0px;
    }
    .sub-logo {
      margin-top: 5px;
    }
    .logo {
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .info,
    .fa.fa-exclamation-triangle {
      display: none;
    }

    footer {
      position: relative;
      margin-top: 100%;
    }
    .about {
      padding-right: 20px;
      font-size: 9px;
      padding-top: 22px;
    }
    .guitar {
          transform: translateX(-50%) scale(0.7);
          top: 0px;
          margin-top: 155px;
    }
    .step {
      width: 100%;
      height: 120px;
      border-right: 0px;
      float: none;
      border-bottom: 2px solid #efefef;
  }
}

.idea__two .about {
  width: auto;
  padding-top:6px;
}

.idea__two .settings {
  display: block;
}

.sub-title span {
  font-weight: 500;
}

.idea__two .logo {
  font-size: 20px;
  padding-top: 0px;
}

.idea__three header a {
  color: #0C4B33;
}

.idea__three .wrap,
.idea__three .step  {
  width: 100%;
  border-right: 0px;
}

.idea__three footer .fa {
  font-size: 16px;
  opacity: 0.9;
}

.idea__three .step  {
  height: 100px;
}

.idea__two header {
  padding-top: 16px;
}

.idea__three .wrap {
  padding-top: 25px;
}
.idea__three .text {
  width: 80%;
}

.idea__three .sub-title {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

.idea__four .congrats {
    margin-top: 150px;
}

.idea__four .debug {
  font-size: 11px;
}

.idea__four .signature {
  display:none;
}
